---
http_interactions:
- request:
    method: post
    uri: https://qa-login.uscourts.gov/services/cso-auth
    body:
      encoding: UTF-8
      string: '{"loginId":"<LOGIN>","password":"<PASSWORD>","redactFlag":"1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nextGenCSO":"N10UbNSgY3UIbYJ5js7Slx2473eVdM7BvEgjXnT10StUmfcvNfk1NQueKgw62IegeppGpdBG7N2Q1WrPFtackuQL2zSz8DCF0NxNd1xydkAnSjJgL62QVZenfuKDX07s","loginResult":"0"}'
  recorded_at: Fri, 29 Oct 2021 15:15:37 GMT
- request:
    method: post
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/parties/find?page=2
    body:
      encoding: UTF-8
      string: '{"lastName":"Smith"}'
    headers:
      Content-Type:
      - application/json
      X-Next-Gen-Cso:
      - N10UbNSgY3UIbYJ5js7Slx2473eVdM7BvEgjXnT10StUmfcvNfk1NQueKgw62IegeppGpdBG7N2Q1WrPFtackuQL2zSz8DCF0NxNd1xydkAnSjJgL62QVZenfuKDX07s
  response:
    status:
      code: 200
      message: '200'
    headers:
      X-Next-Gen-Cso:
      - N10UbNSgY3UIbYJ5js7Slx2473eVdM7BvEgjXnT10StUmfcvNfk1NQueKgw62IegeppGpdBG7N2Q1WrPFtackuQL2zSz8DCF0NxNd1xydkAnSjJgL62QVZenfuKDX07s
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"receipt":{"transactionDate":"2021-10-29T10:15:37.895-0500","billablePages":1,"loginId":"<LOGIN>","clientCode":"","firmId":"","search":"All
        Courts; Name Smith; Page: 3","description":"All Court Types Party Search","csoId":4697705,"reportId":"cfe0bf65-d531-4fca-a32d-69ec8fef607b","searchFee":".10"},"pageInfo":{"number":2,"size":54,"totalPages":101,"totalElements":5401,"numberOfElements":54,"first":false,"last":false},"content":[{"courtId":"azttdc","caseId":18029,"caseYear":2008,"caseNumber":456,"lastName":"Smith","firstName":"Barry","middleName":"
        ","generation":" ","partyType":"pty","partyRole":"dft","jurisdictionType":"Civil","courtCase":{"courtId":"azttdc","caseId":18029,"caseYear":2008,"caseNumber":456,"caseOffice":"1","caseType":"cv","caseTitle":"Johnson
        v. Smith","dateFiled":"2008-05-30","dateTermed":"2008-05-30","natureOfSuit":"210","jurisdictionType":"Civil","effectiveDateClosed":"2008-05-30","caseLink":"https://ecf.tc1d.aztc.uscourts.gov/cgi-bin/iqquerymenu.pl?18029","caseNumberFull":"1:2008cv00456"},"natureOfSuit":"210","dateTermed":"2008-05-30","dateFiled":"2008-05-30","caseNumberFull":"1:2008cv00456","caseOffice":"1","caseType":"cv","caseTitle":"Johnson
        v. Smith"},{"courtId":"azttdc","caseId":18033,"caseYear":2008,"caseNumber":141,"lastName":"Smith","firstName":"Bradshaw","middleName":"
        ","generation":" ","partyType":"aty","partyRole":"aty","jurisdictionType":"Civil","courtCase":{"courtId":"azttdc","caseId":18033,"caseYear":2008,"caseNumber":141,"caseOffic[...]
