---
http_interactions:
- request:
    method: post
    uri: https://qa-login.uscourts.gov/services/cso-auth
    body:
      encoding: UTF-8
      string: '{"loginId":"<LOGIN>","password":"<PASSWORD>","redactFlag":"1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nextGenCSO":"nF45G0NfuNLV2rQqtwhuW0kNaMLk62lpSzIzeXKiiY3qNqSnuutDQ8FqtVgmrt2qinaWhJwjaEX1p28baa9wLGskNWV0ZHkP7WEDwtZOdC9kH9440pfOmHzNgjt9ZpLk","loginResult":"0"}'
  recorded_at: Fri, 29 Oct 2021 14:14:49 GMT
- request:
    method: post
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/find?page=2
    body:
      encoding: UTF-8
      string: '{"caseTitle":"THE"}'
    headers:
      Content-Type:
      - application/json
      X-Next-Gen-Cso:
      - nF45G0NfuNLV2rQqtwhuW0kNaMLk62lpSzIzeXKiiY3qNqSnuutDQ8FqtVgmrt2qinaWhJwjaEX1p28baa9wLGskNWV0ZHkP7WEDwtZOdC9kH9440pfOmHzNgjt9ZpLk
  response:
    status:
      code: 200
      message: '200'
    headers:
      X-Next-Gen-Cso:
      - nF45G0NfuNLV2rQqtwhuW0kNaMLk62lpSzIzeXKiiY3qNqSnuutDQ8FqtVgmrt2qinaWhJwjaEX1p28baa9wLGskNWV0ZHkP7WEDwtZOdC9kH9440pfOmHzNgjt9ZpLk
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"receipt":{"transactionDate":"2021-10-29T09:14:49.557-0500","billablePages":0,"loginId":"<LOGIN>","clientCode":"","firmId":"","search":"All
        Courts; Case Title THE; Page: 3","description":"All Court Types Case Search","csoId":4697705,"reportId":"87d243d1-5385-437a-9b0f-3feaa085fffe","searchFee":".00"},"pageInfo":{"number":2,"size":54,"totalPages":51,"totalElements":2754,"numberOfElements":54,"first":false,"last":false},"content":[{"courtId":"azttca","caseId":23706,"caseYear":1997,"caseNumber":4069,"caseOffice":"0","caseType":"cv","caseTitle":"The
        Farmers and v. St. Paul Fire and","dateFiled":"1997-11-20","dateTermed":"1998-05-11","natureOfSuit":"4110","jurisdictionType":"Appellate","effectiveDateClosed":"1998-05-11","caseLink":"https://ecf.tc1a.aztc.uscourts.gov/cmecf/servlet/TransportRoom?servlet=CaseSummary.jsp?caseNum=23706&dktType=dktPublic&incOrigDkt=Y&incDktEntries=Y","caseNumberFull":"0:1997cv04069"},{"courtId":"aztxca","caseId":23706,"caseYear":1997,"caseNumber":4069,"caseOffice":"0","caseType":"cv","caseTitle":"The
        Farmers and v. St. Paul Fire and","dateFiled":"1997-11-20","dateTermed":"1998-05-11","natureOfSuit":"4110","jurisdictionType":"Appellate","effectiveDateClosed":"1998-05-11","caseNumberFull":"0:1997cv04069"},{"courtId":"cm2ca","caseId":23706,"caseYear":1997,"caseNumber":4069,"caseOffice":"0","caseType":"cv","caseTitle":"The
        Farmers and v. St. Paul Fire and","dateFiled":"1997-11-20","dateTermed":"1998-05-11","natureOfSuit":"4110","jurisdictionType":"Appellate","effectiveDateClosed":"1998-05-11","caseNumberFull":"0:1997cv04069"},{"courtId":"azttbk","caseId":5078,"caseYear":2003,"caseNumber":1295,"caseOffice":"4","caseType":"bk","caseTitle":"The
        Fee Corporation","dateFiled":"2003-07-22","bankruptcyChapter":"11","jointBankruptcyFlag":"n","jurisdictionType":"Bankruptcy","caseLink":"https://ecf.tc1b.aztc.uscourts.gov/cgi-bin/iqquerymenu.pl?5078","caseNumberFull":"4:2003bk01295"},{"courtId":"azttbk","caseId":5494,"caseYear":2003,"caseNumber":1452,"caseOffice":"1","caseType":"bk","caseTitle":"The
        Fee Corporation","dateFiled":"2003-08-25","bankruptcyChapter":"11","jointBankruptcyFlag":"n","jurisdictionType":"Bankruptcy","caseLink":"https://ecf.tc1b.aztc.uscourts.gov/cgi-bin/iqquerymenu.pl?5494","caseNumberFull":"1:2003bk0[...]
