---
http_interactions:
- request:
    method: post
    uri: https://qa-login.uscourts.gov/services/cso-auth
    body:
      encoding: UTF-8
      string: '{"loginId":"<LOGIN>","password":"<PASSWORD>","redactFlag":"1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nextGenCSO":"V1dQQffxCR0L76k53CwEBfLJl36yUMASnvfYqDOQFzoqchqVzJG3NgHzDR0LiUom19wvR43izncuXCqvo0OuDnQSFu2vAB82RP48eQq9njOsHoSKR4UTtPpXPwTvwMqp","loginResult":"0"}'
  recorded_at: Mon, 08 Nov 2021 12:34:19 GMT
- request:
    method: post
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/download
    body:
      encoding: UTF-8
      string: '{"caseTitle":"Barnes"}'
    headers:
      X-Next-Gen-Cso:
      - V1dQQffxCR0L76k53CwEBfLJl36yUMASnvfYqDOQFzoqchqVzJG3NgHzDR0LiUom19wvR43izncuXCqvo0OuDnQSFu2vAB82RP48eQq9njOsHoSKR4UTtPpXPwTvwMqp
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      X-Next-Gen-Cso:
      - V1dQQffxCR0L76k53CwEBfLJl36yUMASnvfYqDOQFzoqchqVzJG3NgHzDR0LiUom19wvR43izncuXCqvo0OuDnQSFu2vAB82RP48eQq9njOsHoSKR4UTtPpXPwTvwMqp
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reportId":1349,"status":"RUNNING","startTime":null,"endTime":null,"recordCount":null,"unbilledPageCount":null,"downloadFee":null,"pages":null,"sort":{"orders":[]},"searchType":"COURT_CASE","criteria":{"searchType":"COURT_CASE","courtId":[],"requestType":"Batch","requestSource":"API","caseType":[],"caseTitle":"Barnes","federalBankruptcyChapter":[],"natureOfSuit":[]}}'
  recorded_at: Mon, 08 Nov 2021 12:34:20 GMT
- request:
    method: get
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/download/status/1349
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Next-Gen-Cso:
      - V1dQQffxCR0L76k53CwEBfLJl36yUMASnvfYqDOQFzoqchqVzJG3NgHzDR0LiUom19wvR43izncuXCqvo0OuDnQSFu2vAB82RP48eQq9njOsHoSKR4UTtPpXPwTvwMqp
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reportId":1349,"status":"COMPLETED","startTime":"2021-11-08T06:34:20.000-0600","endTime":"2021-11-08T06:34:21.000-0600","recordCount":14,"unbilledPageCount":1,"downloadFee":0.1,"pages":1,"sort":{"orders":[]},"searchType":"COURT_CASE","criteria":{"searchType":"COURT_CASE","courtId":[],"requestType":"Batch","requestSource":"API","caseType":[],"caseTitle":"Barnes","federalBankruptcyChapter":[],"natureOfSuit":[]}}'
  recorded_at: Mon, 08 Nov 2021 12:34:26 GMT
- request:
    method: get
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/download/1349
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Next-Gen-Cso:
      - V1dQQffxCR0L76k53CwEBfLJl36yUMASnvfYqDOQFzoqchqVzJG3NgHzDR0LiUom19wvR43izncuXCqvo0OuDnQSFu2vAB82RP48eQq9njOsHoSKR4UTtPpXPwTvwMqp
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><download xmlns="https://pacer.uscourts.gov"><content><courtCase><courtId>azt5ca</courtId><caseId>9056</caseId><caseYear>1993</caseYear><caseNumber>3013</caseNumber><caseOffice>0</caseOffice><caseType>cv</caseType><caseTitle>Barnes
        Hospital v. Curtis C. Crawford, et al</caseTitle><dateFiled>1993-08-11</dateFiled><dateTermed>1993-11-10</dateTermed><natureOfSuit>3791</natureOfSuit><effectiveDateClosed>1993-11-10</effectiveDateClosed><caseNumberFull>0:1993cv03013</caseNumberFull></courtCase><courtCase><courtId>aztica</courtId><caseId>9056</caseId><caseYear>1993</caseYear><caseNumber>3013</caseNumber><caseOffice>0</caseOffice><caseType>cv</caseType><caseTitle>Barnes
        Hospital v. Curtis C. Crawford, et al</caseTitle><dateFiled>1993-08-11</dateFiled><dateTermed>1993-11-10</dateTermed><natureOfSuit>3791</natureOfSuit><effectiveDateClosed>1993-11-10</effectiveDateClosed><caseNumberFull>0:1993cv03013</caseNumberFull></courtCase><courtCase><courtId>azttca</courtId><caseId>9056</caseId><caseYear>1993</caseYear><caseNumber>3013</caseNumber><caseOffice>0</caseOffice><caseType>cv</caseType><caseTitle>Barnes
        Hospital v. Curtis C. Crawford, et al</caseTitle><dateFiled>1993-08-11</dateFiled><dateTermed>1993-11-10</dateTermed><natureOfSuit>3791</natureOfSuit><effectiveDateClosed>1993-11-10</effectiveDateClosed><caseLink>https://ecf.tc1a.aztc.uscourts.gov/cmecf/servlet/TransportRoom?servlet=CaseSummary.jsp?caseNum=9056&amp;dktType=dktPublic&amp;incOrigDkt=Y&amp;incDktEntries=Y</caseLink><caseNumberFull>0:1993cv03013</caseNumberFull></courtCase><courtCase><courtId>aztxca</courtId><caseId>9056</caseId><caseYear>1993</caseYear><caseNumber>3013</caseNumber><caseOffice>0</caseOffice><caseType>cv</caseType><caseTitle>Barnes
        Hospital v. Curtis C. Crawford, et al</caseTitle><dateFiled>1993-08-11</dateFiled><date[...]
