---
http_interactions:
- request:
    method: post
    uri: https://qa-login.uscourts.gov/services/cso-auth
    body:
      encoding: UTF-8
      string: '{"loginId":"<LOGIN>","password":"<PASSWORD>","redactFlag":"1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nextGenCSO":"5ek5L2mmpdTQAjxPgRiW4yi0vqyjkinwGDIsjb91loLw87T7Nx4tDtz1rP3G1E8nSVyJXk9J4EGI2yjR5VmZI3kt8njQfFPJiSHAzkQA12BTg2uQ5mCXofEJtcQPg9uD","loginResult":"0"}'
  recorded_at: Tue, 02 Nov 2021 18:42:53 GMT
- request:
    method: post
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/download
    body:
      encoding: UTF-8
      string: '{"caseTitle":"Barnes"}'
    headers:
      Content-Type:
      - application/json
      X-Next-Gen-Cso:
      - 5ek5L2mmpdTQAjxPgRiW4yi0vqyjkinwGDIsjb91loLw87T7Nx4tDtz1rP3G1E8nSVyJXk9J4EGI2yjR5VmZI3kt8njQfFPJiSHAzkQA12BTg2uQ5mCXofEJtcQPg9uD
  response:
    status:
      code: 200
      message: '200'
    headers:
      X-Next-Gen-Cso:
      - 5ek5L2mmpdTQAjxPgRiW4yi0vqyjkinwGDIsjb91loLw87T7Nx4tDtz1rP3G1E8nSVyJXk9J4EGI2yjR5VmZI3kt8njQfFPJiSHAzkQA12BTg2uQ5mCXofEJtcQPg9uD
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reportId":1309,"status":"RUNNING","startTime":null,"endTime":null,"recordCount":null,"unbilledPageCount":null,"downloadFee":null,"pages":null,"sort":{"orders":[]},"searchType":"COURT_CASE","criteria":{"searchType":"COURT_CASE","courtId":[],"requestType":"Batch","requestSource":"API","caseType":[],"caseTitle":"Barnes","federalBankruptcyChapter":[],"natureOfSuit":[]}}'
  recorded_at: Tue, 02 Nov 2021 18:42:54 GMT
- request:
    method: get
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/download/status/1309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Next-Gen-Cso:
      - 5ek5L2mmpdTQAjxPgRiW4yi0vqyjkinwGDIsjb91loLw87T7Nx4tDtz1rP3G1E8nSVyJXk9J4EGI2yjR5VmZI3kt8njQfFPJiSHAzkQA12BTg2uQ5mCXofEJtcQPg9uD
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"reportId":1309,"status":"COMPLETED","startTime":"2021-11-02T13:42:54.000-0500","endTime":"2021-11-02T13:42:54.000-0500","recordCount":14,"unbilledPageCount":1,"downloadFee":0.1,"pages":1,"sort":{"orders":[]},"searchType":"COURT_CASE","criteria":{"searchType":"COURT_CASE","courtId":[],"requestType":"Batch","requestSource":"API","caseType":[],"caseTitle":"Barnes","federalBankruptcyChapter":[],"natureOfSuit":[]}}'
  recorded_at: Tue, 02 Nov 2021 18:42:59 GMT
- request:
    method: get
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/download/1309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Next-Gen-Cso:
      - 5ek5L2mmpdTQAjxPgRiW4yi0vqyjkinwGDIsjb91loLw87T7Nx4tDtz1rP3G1E8nSVyJXk9J4EGI2yjR5VmZI3kt8njQfFPJiSHAzkQA12BTg2uQ5mCXofEJtcQPg9uD
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n    \"content\" : [{\n        \"courtId\" : \"azt5ca\",\"caseId\"
        : \"9056\",\"caseYear\" : \"1993\",\"caseNumber\" : \"3013\",\"caseOffice\"
        : \"0\",\"caseType\" : \"cv\",\"caseTitle\" : \"Barnes Hospital v. Curtis
        C. Crawford, et al\",\"dateFiled\" : \"1993-08-11\",\"dateTermed\" : \"1993-11-10\",\"natureOfSuit\"
        : \"3791\",\"effectiveDateClosed\" : \"1993-11-10\",\"caseNumberFull\" : \"0:1993cv03013\"\n
        \     },{\n        \"courtId\" : \"aztica\",\"caseId\" : \"9056\",\"caseYear\"
        : \"1993\",\"caseNumber\" : \"3013\",\"caseOffice\" : \"0\",\"caseType\" :
        \"cv\",\"caseTitle\" : \"Barnes Hospital v. Curtis C. Crawford, et al\",\"dateFiled\"
        : \"1993-08-11\",\"dateTermed\" : \"1993-11-10\",\"natureOfSuit\" : \"3791\",\"effectiveDateClosed\"
        : \"1993-11-10\",\"caseNumberFull\" : \"0:1993cv03013\"\n      },{\n        \"courtId\"
        : \"azttca\",\"caseId\" : \"9056\",\"caseYear\" : \"1993\",\"caseNumber\"
        : \"3013\",\"caseOffice\" : \"0\",\"caseType\" : \"cv\",\"caseTitle\" : \"Barnes
        Hospital v. Curtis C. Crawford, et al\",\"dateFiled\" : \"1993-08-11\",\"dateTermed\"
        : \"1993-11-10\",\"natureOfSuit\" : \"3791\",\"effectiveDateClosed\" : \"1993-11-10\",\"caseLink\"
        : \"https://ecf.tc1a.aztc.uscourts.gov/cmecf/servlet/TransportRoom?servlet=CaseSummary.jsp?caseNum=9056&dktType=dktPublic&incOrigDkt=Y&incDktEntries=Y\",\"caseNumberFull\"
        : \"0:1993cv03013\"\n      },{\n        \"courtId\" : \"aztxca\",\"caseId\"
        : \"9056\",\"caseYear\" : \"1993\",\"caseNumber\" : \"3013\",\"caseOffice\"
        : \"0\",\"caseType\" : \"cv\",\"caseTitle\" : \"Barnes Hospital v. Curtis
        C. Crawford, et al\",\"dateFiled\" : \"1993-08-11\",\"dateTermed\" : \"[...]
- request:
    method: get
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/reports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Next-Gen-Cso:
      - 5ek5L2mmpdTQAjxPgRiW4yi0vqyjkinwGDIsjb91loLw87T7Nx4tDtz1rP3G1E8nSVyJXk9J4EGI2yjR5VmZI3kt8njQfFPJiSHAzkQA12BTg2uQ5mCXofEJtcQPg9uD
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"receipt":null,"pageInfo":{"number":0,"size":54,"totalPages":1,"totalElements":1,"numberOfElements":1,"first":true,"last":true},"content":[{"reportId":1309,"status":"COMPLETED","startTime":"2021-11-02T13:42:54.000-0500","endTime":"2021-11-02T13:42:54.000-0500","recordCount":14,"unbilledPageCount":0,"downloadFee":0.0,"pages":1,"criteria":{"searchType":"COURT_CASE","courtId":[],"requestType":"Batch","requestSource":"API","caseType":[],"caseTitle":"Barnes","federalBankruptcyChapter":[],"natureOfSuit":[]},"sort":{"orders":[]}}]}'
  recorded_at: Tue, 02 Nov 2021 18:43:00 GMT
- request:
    method: delete
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/reports/1309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Next-Gen-Cso:
      - 5ek5L2mmpdTQAjxPgRiW4yi0vqyjkinwGDIsjb91loLw87T7Nx4tDtz1rP3G1E8nSVyJXk9J4EGI2yjR5VmZI3kt8njQfFPJiSHAzkQA12BTg2uQ5mCXofEJtcQPg9uD
  response:
    status:
      code: 204
      message: '204'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Nov 2021 18:43:01 GMT
- request:
    method: get
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/reports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Next-Gen-Cso:
      - 5ek5L2mmpdTQAjxPgRiW4yi0vqyjkinwGDIsjb91loLw87T7Nx4tDtz1rP3G1E8nSVyJXk9J4EGI2yjR5VmZI3kt8njQfFPJiSHAzkQA12BTg2uQ5mCXofEJtcQPg9uD
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"receipt":null,"pageInfo":{"number":0,"size":54,"totalPages":0,"totalElements":0,"numberOfElements":0,"first":true,"last":true},"content":[]}'
  recorded_at: Tue, 02 Nov 2021 18:43:01 GMT
recorded_with: VCR 6.0.0
