---
http_interactions:
- request:
    method: post
    uri: https://qa-login.uscourts.gov/services/cso-auth
    body:
      encoding: UTF-8
      string: '{"loginId":"<LOGIN>","password":"<PASSWORD>","redactFlag":"1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nextGenCSO":"6py2KYepR0FGGlgwRuxSLyEf8cmV3qbplgWOwYo9lv0k0zSoezc5gwG0aFUEFXbcfOkx0PNQzEleh0PiDk156gYEdQPpk9U2wWqaj0Fky4Et9pVUFLSmSWGaNWyeYa9b","loginResult":"0"}'
  recorded_at: Fri, 29 Oct 2021 15:15:34 GMT
- request:
    method: post
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/parties/find?page=1
    body:
      encoding: UTF-8
      string: '{"lastName":"Smith"}'
    headers:
      Content-Type:
      - application/json
      X-Next-Gen-Cso:
      - 6py2KYepR0FGGlgwRuxSLyEf8cmV3qbplgWOwYo9lv0k0zSoezc5gwG0aFUEFXbcfOkx0PNQzEleh0PiDk156gYEdQPpk9U2wWqaj0Fky4Et9pVUFLSmSWGaNWyeYa9b
  response:
    status:
      code: 200
      message: '200'
    headers:
      X-Next-Gen-Cso:
      - 6py2KYepR0FGGlgwRuxSLyEf8cmV3qbplgWOwYo9lv0k0zSoezc5gwG0aFUEFXbcfOkx0PNQzEleh0PiDk156gYEdQPpk9U2wWqaj0Fky4Et9pVUFLSmSWGaNWyeYa9b
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"receipt":{"transactionDate":"2021-10-29T10:15:34.790-0500","billablePages":0,"loginId":"<LOGIN>","clientCode":"","firmId":"","search":"All
        Courts; Name Smith; Page: 2","description":"All Court Types Party Search","csoId":4697705,"reportId":"1e528094-544f-4fdd-bcc6-2f73df61caeb","searchFee":".00"},"pageInfo":{"number":1,"size":54,"totalPages":101,"totalElements":5401,"numberOfElements":54,"first":false,"last":false},"content":[{"courtId":"azttdc","caseId":12153,"caseYear":2005,"caseNumber":1234,"lastName":"Smith","firstName":"Henry","middleName":"
        ","generation":" ","partyType":"pty","partyRole":"dft","jurisdictionType":"Civil","courtCase":{"courtId":"azttdc","caseId":12153,"caseYear":2005,"caseNumber":1234,"caseOffice":"1","caseType":"cv","caseTitle":"v.
        Thomas et al","dateFiled":"2008-04-09","natureOfSuit":"190","jurisdictionType":"Civil","caseLink":"https://ecf.tc1d.aztc.uscourts.gov/cgi-bin/iqquerymenu.pl?12153","caseNumberFull":"1:2005cv01234"},"natureOfSuit":"190","dateFiled":"2008-04-09","caseNumberFull":"1:2005cv01234","caseOffice":"1","caseType":"cv","caseTitle":"v.
        Thomas et al"},{"courtId":"azttdc","caseId":12155,"caseYear":2005,"caseNumber":2345,"lastName":"Smith","firstName":"David","middleName":"Hugh","generation":"
        ","partyType":"aty","partyRole":"aty","jurisdictionType":"Criminal","courtCase":{"courtId":"azttdc","caseId":12155,"caseYear":2005,"caseNumber":2345,"caseOffice":"1","caseType":"cr","caseTitle":"USA
        v. Dread - William Dread","dateFiled":"2008-04-09","natureOfSuit":"1","jurisdictionType":"Criminal","caseLink":"https://ecf.tc1d.aztc.uscourts.gov/cgi-bin/iqquerymenu.pl?12155","caseNumberFull":"1:2005cr02345"},"natureOfSuit":"1","dateFiled":"2008-04-09","caseNumberFull":"1:2005cr02345","caseOffice":"1","caseType":"cr","caseTitle":"USA
        v. Dread - William Dread"},{"courtId":"azttdc","caseId":12158,"caseYear":2002,"caseNumber":4567,"lastName":"Smith","firstName":"David","middleName":"Hugh","generation":"
        ","partyType":"aty","partyRole":"aty","jurisdictionType":"Criminal","courtCase":{"courtId":"azttdc","caseId":12158,"caseYear":2002,"caseNumber":4567,"caseOffice":"1","caseType":"cr","caseTitle":"USA
        v. Frontier et al - John Frontier","dateFiled":"2008-04-09","dateTermed":"2008-04-09","natureOfSuit":"1","jurisdictionType":"Criminal","effectiveDateClosed":"2008-04-09","caseLink":"https://ecf.tc1d.aztc.uscourts.gov/cgi-bin/iqquerymenu.pl?12158","caseNumberFull":"1:2002cr04567"},"natureOfSuit":"1","dateTermed":"2008-04-09","dateFiled":"2008-04-09","caseNumberFull":"1:2002cr04567","caseOffice":"1","caseType":"cr","caseTitle":"USA
        v. Frontier et al - John Frontier"},{"courtId":"azttdc","caseId":12159,"caseYear":2002,"caseNumber":4567,"lastName":"Smith","firstName":"David","middleName":"Hugh","generation":"
        ","partyType":"aty","partyRo[...]
