---
http_interactions:
- request:
    method: post
    uri: https://qa-login.uscourts.gov/services/cso-auth
    body:
      encoding: UTF-8
      string: '{"loginId":"<LOGIN>","password":"<PASSWORD>","redactFlag":"1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nextGenCSO":"Fs7sy17iybDmNP2TGPwQY8InVCmjngw9qYpEFtpHHQv9r7XOi7OnU9NnYHiQWRvTg73GPOsn5rfykC7sfL9CTrclfN75FU3pAtoAWp5S2TOz0tW12O9uUjWQOAIndWg2","loginResult":"0"}'
  recorded_at: Wed, 03 Nov 2021 12:46:09 GMT
- request:
    method: post
    uri: https://qa-pcl.uscourts.gov/pcl-public-api/rest/cases/find?page=1
    body:
      encoding: UTF-8
      string: '{"caseTitle":"THE"}'
    headers:
      Content-Type:
      - application/json
      X-Next-Gen-Cso:
      - Fs7sy17iybDmNP2TGPwQY8InVCmjngw9qYpEFtpHHQv9r7XOi7OnU9NnYHiQWRvTg73GPOsn5rfykC7sfL9CTrclfN75FU3pAtoAWp5S2TOz0tW12O9uUjWQOAIndWg2
  response:
    status:
      code: 200
      message: '200'
    headers:
      X-Next-Gen-Cso:
      - Fs7sy17iybDmNP2TGPwQY8InVCmjngw9qYpEFtpHHQv9r7XOi7OnU9NnYHiQWRvTg73GPOsn5rfykC7sfL9CTrclfN75FU3pAtoAWp5S2TOz0tW12O9uUjWQOAIndWg2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"receipt":{"transactionDate":"2021-11-03T07:46:10.202-0500","billablePages":1,"loginId":"<LOGIN>","clientCode":"","firmId":"","search":"All
        Courts; Case Title THE; Page: 2","description":"All Court Types Case Search","csoId":4697705,"reportId":"ef86eaa9-abca-4279-9fcf-358058218b16","searchFee":".10"},"pageInfo":{"number":1,"size":54,"totalPages":51,"totalElements":2754,"numberOfElements":54,"first":false,"last":false},"content":[{"courtId":"azttca","caseId":44236,"caseYear":2003,"caseNumber":6062,"caseOffice":"0","caseType":"bap","caseTitle":"The
        Committee v. City of Northfield","dateFiled":"2003-09-23","dateTermed":"2004-05-03","natureOfSuit":"3422","jurisdictionType":"Appellate","effectiveDateClosed":"2004-05-03","caseLink":"https://ecf.tc1a.aztc.uscourts.gov/cmecf/servlet/TransportRoom?servlet=CaseSummary.jsp?caseNum=44236&dktType=dktPublic&incOrigDkt=Y&incDktEntries=Y","caseNumberFull":"0:2003bap06062"},{"courtId":"aztxca","caseId":44236,"caseYear":2003,"caseNumber":6062,"caseOffice":"0","caseType":"bap","caseTitle":"The
        Committee v. City of Northfield","dateFiled":"2003-09-23","dateTermed":"2004-05-03","natureOfSuit":"3422","jurisdictionType":"Appellate","effectiveDateClosed":"2004-05-03","caseNumberFull":"0:2003bap06062"},{"courtId":"cm2ca","caseId":44236,"caseYear":2003,"caseNumber":6062,"caseOffice":"0","caseType":"bap","caseTitle":"The
        Committee v. City of Northfield","dateFiled":"2003-09-23","dateTermed":"2004-05-03","natureOfSuit":"3422","jurisdictionType":"Appellate","effectiveDateClosed":"2004-05-03","caseNumberFull":"0:2003bap06062"},{"courtId":"azttbk","caseId":20769,"caseYear":2010,"caseNumber":186,"caseOffice":"0","caseType":"ap","caseTitle":"The
        Cookie Co and The Candy","dateFiled":"2010-05-03","jurisdictionType":"Bankruptcy","caseLink":"https://ecf.tc1b.aztc.uscourts.gov/cgi-bin/iqquerymenu.pl?20769","caseNumberFull":"0:2010ap00186"},{"courtId":"tc1bk","caseId":20769,"caseYear":2010,"caseNumber":186,"caseOffice":"0","caseType":"ap","caseTitle":"The
        Cookie Co and The Candy","dateFiled":"2010-05-03","jurisdictionType":"Bankruptcy","caseNumberFull":"0:2010ap00186"},{"courtId":"azttbk","caseId":19766,"caseYear":2010,"caseNumber":248,"caseOffice":"1","caseType":"bk","caseTitle":"The
        Cookie Company","dateFiled":"2010-03-22","bankruptcyChapter":"11","jointBankruptcyFlag":"n","jurisdictionType":"Bankruptcy","caseLink":"https://ecf.tc1b.aztc.uscourts.gov/cgi-bin/iqquerymenu.pl?19766","caseNumberFull":"1:2010bk00248"},{"courtId":"azttbk","caseId":19770,"caseYear":2010,"caseNumber":367,"caseOffice":"0","caseType":"bk","caseTitle":"The
        Cookie Company","dateFiled":"2010-03-22","bankruptcyChapter":"15","jointBankruptcyFlag":"n","jurisdictionType":"Bankruptcy","caseLink":"https://ecf.tc1b.aztc.uscourts.gov/cgi-bin/iqquerymenu.pl?19770","caseNumberFull":"0:2010bk[...]
[...]
