---
http_interactions:
- request:
    method: post
    uri: https://qa-login.uscourts.gov/services/cso-auth
    body:
      encoding: UTF-8
      string: '{"loginId":"kodos2024","password":"Incorr3ct!","redactFlag":"1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"loginResult":"1","errorDescription":"Login Failed"}'
  recorded_at: Fri, 29 Oct 2021 13:13:58 GMT
recorded_with: VCR 6.0.0
